.password-form {
    margin: 70px;
    padding: 40px 90px;
    background-color: #dfe6e9;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 2px solid #dfe6e9;
}

.rules {
    margin-top: 20px;
}

.red {
    color: #e74c3c;
}

.green {
    color: #27ae60;
}