<div class = "container-fluid">

  <div class = "row">

    <div class = "offset-md-3 col-md-6">

      <form [formGroup] = "passwordForm" class = "password-form">

        <h4> Password Strength Checker </h4>

        <hr>

        <div class = "form-group">

          <label for = "password"> Password </label>

          <input 
            type = "password"
            class = "form-control"
            name = "password"
            id = "password"
            formControlName = "password"
            (click) = "onFormSubmit()">

          <div *ngIf = "(password.touched || password.dirty) && password.invalid" class = "rules">

            <p [ngClass] = "{'red': !password.errors.rules.hasLowerCase, 'green' : password.errors.rules.hasLowerCase}"> Password should have atleast one Lower case letter. </p>
            <p [ngClass] = "{'red': !password.errors.rules.hasUpperCase, 'green' : password.errors.rules.hasUpperCase}"> Password should have atleast one Upper case letter. </p>
            <p [ngClass] = "{'red': !password.errors.rules.hasNumbers, 'green' : password.errors.rules.hasNumbers}"> Password should have atleast one number. </p>
            <p [ngClass] = "{'red': !password.errors.rules.hasSpecialSymbols, 'green' : password.errors.rules.hasSpecialSymbols}"> Password should have atleast any of these . , ! @ # symbols. </p>
            <p [ngClass] = "{'red': !password.errors.rules.hasMinimumLength, 'green' : password.errors.rules.hasMinimumLength}"> Password should be of minimum 8 character's in length. </p>

          </div>

          <div *ngIf = "password.valid" class = "rules">
            <p class = "green"> Password has good strength. </p>
          </div>

        </div>

      </form>

    </div>

  </div>

</div>